# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
backend/venv/

# Environment variables
.env
.env.*

# Environment files (global)
.env
.env.local
.env.*.local

# OS junk
.DS_Store

